* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
header {
    background: #2c3e52;
}
.menu-side-left {
    float:left;
    display: inline;
    padding: 10px 10px;
}

.menu-side-right{
    float: right;
    display: inline;
    padding: 0px 10px;
}

.menu-line-one {
    background: #2c3e52;
    color: white;
    width: 1180px;
    padding: 0px;
    margin: auto;
    height: 40px;
}

.menu-line-one:after {
    content: "";
    display: table;
    clear: both;
}
.menu-side-left a {
    color: white;
    text-decoration: none;
}
.menu-side-left span {
    color: #17d6ad;
}
.menu-side-right a {
    color: white;
    text-decoration: none;
}

.second-header header {
    background: #FFF;
}

#logo-img {
    float:left;
    display: inline;
    padding: 30px 10px;
}
#img-search {
    float: right;
    list-style-type: none;
    padding: 25px 0px 0px 15px;
}
.menu-side-right-two {
    float: right;
    display: inline;
    padding: 40px 20px;
    font-size: 15px;
    text-transform: uppercase;
}

.menu-line-two {
    background: #FFF;
    color: black;
    width: 1180px;
    padding: 0px;
    margin: auto;
    height: 60px;

}

.menu-line-two:after {
    content: "";
    display: table;
    clear: both;
}

hr {
    color: red;
}